.hero-container {
    background: url('../assets/quotes.gif') ,
    url('../assets/microbiome.jpg') ; 
    background-repeat: no-repeat, no-repeat;
    background-position: center center, center center;
    background-size: cover, cover;
    height: 90vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white; 
    text-align: center;
}
.hero-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.hero-container p {
    font-size: 1.2rem;
    margin-bottom: 40px;
}
.hero-btn {
    padding: 10px 20px;
    background-color: #28a745; /* Updated vibrant green */
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
    position: absolute;
    left: 50%;
    bottom: 13px;
    transform: translateX(-50%);
}

.hero-btn:hover {
    background-color: #218838; /* Slightly darker shade for hover */
}


