.navbar {
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: flex-start;
    align-items: stretch; 
    padding: 0; 
    position: relative;
  }
  .nav-item {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: center; 
    padding: 10px 20px; 
    position: relative;
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
    text-decoration: none;
    font-size: large;
  }
  .nav-item:hover {
    background-color: #007bff;
    color: white;
    text-decoration: underline ;

  }
  .nav-item:hover .dropdown, 
  .dropdown:hover {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    
  }
  .dropdown {
    
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 11;
    border-radius: 8px;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateY(-50%); 
    text-align: center; 
    white-space: nowrap;
    width: 100%;
    left: 0;
    box-sizing: border-box;
    padding: 0;
    display: block;
    align-items: stretch; 
  }
  
  .dropdown li {
    transition: background-color 0.3s ease;
    display: block;
    padding: 5px 0px;
    margin: 0;
    border-radius: 8px;
  }
  
  .dropdown a {
    display: block; 
    text-decoration: none;
    color: black;
    transition: background-color 0.3s ease;
    padding: 5px 0px; 
    width: 100%; 
    border-radius: 8px;
}
.dropdown li:hover {
    background-color: lightblue; 
}
.dropdown ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.logo-container{
  height:100%;
  width:10%;
  padding: 0px 0px; 
}
.logo{
  height:100%;
  width:100%;
  object-fit: contain;
  background-color: #333 !important;
}