.lab-data-form-container,
.dashboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    background-color: #62bdd6;
}

.lab-data-form {
    width: 100%;
    max-width: 600px;
    background: #f9f9f9;
    border: 2px solid #eee;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-group, .lab-data-group {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.lab-data-form-container input[type="file"],
.lab-data-form-container input[type="text"],
.lab-data-form-container input[type="number"] {
    flex-grow: 1;
    padding: 8px;
    border: 2px solid #b0b0b0;
    border-radius: 4px;
    background: #fff;
    color: black;
}

button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #4a90e2;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.lab-data-form-container button:hover {
    background-color: #367ab3;
}

.remove-field, .add-more {
    background-color: #e74c3c; /* For remove-field */
    color: white;
}

.remove-field:hover, .add-more:hover {
    background-color: #c0392b;
}

/* Updated styles */
.add-more {
    background-color: #27ae60; /* Green color for the "Add More" button */
}

.add-more:hover {
    background-color: #229954; /* A slightly darker green on hover */
}

.lab-data-group {
    display: flex; /* Ensures inline display */
    flex-wrap: nowrap; /* Prevents wrapping, adjust as needed */
    gap: 10px; /* Maintains spacing between elements */
}

/* Adjustments for better responsiveness if needed */
@media (max-width: 768px) {
    .lab-data-group {
        flex-wrap: wrap; /* Allows wrapping on smaller screens */
    }
}
.form-actions {
    display: flex;
    justify-content: space-between;
    padding: 10px 0; /* Adjust padding as needed */
  }
  .lab-data-form h2{
    text-align: center;
  }